apiVersion: v1
kind: ConfigMap
metadata:
  name: env-configmap
data:
  POSTGRES_HOST: database-1.czjc0yqxtjsp.us-east-1.rds.amazonaws.com
  POSTGRES_DB: postgres
  AWS_BUCKET: arn:aws:s3:::binwelbeck-udacity-ms
  AWS_REGION: us-east-1
  AWS_PROFILE: default
  JWT_SECRET: testing
  URL: http://localhost:8100
